<div class="container-fluid d-flex flex-column align-content-center">
  <!-- if the comment does not exist display warning message with link to go back to previous page -->
  <div
    *ngIf="loadingComment"
    style="width: 100px; height: 100px"
    class="spinner-border text-primary"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <div *ngIf="error" class="alert alert-warning" role="alert">
    {{ error }}
    <a (click)="goBack()" class="alert-link"> go back .</a>
  </div>
  <!-- if comment exists show the comment -->
  <app-single-comment
    *ngIf="comment && commentsService.singleCommentExists"
    [comment]="comment"
    [partOfPreviewComponent]="true"
  ></app-single-comment>
  <h4 *ngIf="commentsService.subcomments.length" class="text-center m-2">
    Replies
  </h4>
  <!-- display subcomments-replies to this comment -->
  <app-single-comment
    class="mt-2"
    *ngFor="let comment of commentsService.subcomments"
    [comment]="comment"
  ></app-single-comment>
</div>
