.side-nav-item {
  background-color: rgb(78, 76, 76);
  font-weight: bold;
  padding: 0.2rem;
  color: rgb(255, 255, 255);
  margin-top: 0.2rem;
  cursor: pointer;
}

.side-nav-item a {
  color: rgb(255, 255, 255);
}
.side-nav-item:first-of-type {
  margin-top: 30px;
}

.pagination-params {
  background-color: rgb(78, 76, 76);
  font-weight: bold;
  padding: 0.2rem;
  color: rgb(255, 255, 255);
  margin-top: 0.2rem;
}

.side-nav-item:hover {
  background-color: rgb(190, 187, 187);
}
.side-nav-item:hover {
  color: rgb(78, 76, 76) !important;
}

.show {
  transform: translateX(0%);
}

img {
  width: 60px;
}

@media screen and (max-width: 1000px) {
  img {
    width: 50px !important;
  }
}
