<form class="sign" (ngSubmit)="register()" [formGroup]="form">
  <h3 class="text-center mb-5">Signup</h3>
  <div class="form-group">
    <label for="exampleInputPassword1">Username</label>
    <input
      type="text"
      [ngClass]="{
        'is-invalid':
          form.get('username').invalid && form.get('username').touched
      }"
      formControlName="username"
      class="form-control"
      placeholder="Username"
    />
    <small
      class="error-message"
      *ngIf="form.get('username').invalid && form.get('username').touched"
      >Username is required</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>

    <input
      type="email"
      formControlName="email"
      class="form-control"
      [ngClass]="{
        'is-invalid': form.get('email').invalid && form.get('email').touched
      }"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />

    <small
      class="error-message"
      *ngIf="
        form.get('email').hasError('required') && form.get('email').touched
      "
      >Email is required</small
    >
    <small
      class="error-message"
      *ngIf="form.get('email').hasError('email') && form.get('email').touched"
      >Invalid email format</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      formControlName="password"
      [ngClass]="{
        'is-invalid':
          form.get('password').invalid && form.get('password').touched
      }"
      class="form-control"
      placeholder="Password"
    />
    <small
      class="error-message"
      *ngIf="
        form.get('password').hasError('minlength') &&
        form.get('password').touched
      "
      >Password must be at least 6 characters long.</small
    >
    <small
      class="error-message"
      *ngIf="
        form.get('password').hasError('required') &&
        form.get('password').touched
      "
      >Password is required.</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Confirm Password</label>
    <input
      type="password"
      formControlName="password2"
      class="form-control"
      [ngClass]="{
        'is-invalid':
          form.get('password2').invalid && form.get('password2').touched
      }"
      id="exampleInputPassword1"
      placeholder="Confirm Password"
    />
    <small
      class="error-message"
      *ngIf="
        form.get('password2').hasError('required') &&
        form.get('password2').touched
      "
      >Please confirm your password</small
    >
    <small
      class="error-message"
      *ngIf="form.get('password2').errors && form.get('password2').touched"
    >
      Passwords do not match
    </small>
  </div>

  <button
    [disabled]="form.invalid"
    type="submit"
    class="btn btn-primary d-block m-auto"
  >
    Submit
  </button>
  <span class="lead d-block m-auto text-center mt-3">
    Already have an account?
    <a [routerLink]="['/signin']" routerLinkActive="router-link-active"
      >Sign in</a
    >
  </span>
  <div
    class="text-danger m-auto text-center"
    *ngFor="let error of provider.errors"
  >
    {{ error.msg }}
  </div>
</form>
