.card {
  max-width: 50%;

  justify-content: center;
}

@media screen and (min-width: 600px) {
  .card {
    min-width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    min-width: 90% !important;
  }
  .post-data {
    font-style: italic;
    font-size: 0.7rem;
  }

  .post_buttons button {
    padding: 0.2rem !important;
  }

  h5 {
    color: black;
    padding: 0rem 0.5rem;
  }
}
