<div class="card mt-2">
  <h5 class="card-title">{{ post.title | titlecase }}</h5>
  <img [src]="post.image_public_url" class="card-img-top" [alt]="post.title" />
  <div class="card-body d-flex justify-content-end">
    <button
      (click)="likeDislike(true)"
      class="btn btn-outline-dark d-flex align-items-center"
    >
      {{ post.likes }} &nbsp; <fa-icon [icon]="faThumbsUp"></fa-icon>
    </button>
    <button class="btn btn-outline-dark d-flex align-items-center ml-2">
      {{ post.dislikes }} &nbsp; <fa-icon [icon]="faThumbsDown"></fa-icon>
    </button>
  </div>
</div>
