<div class="comment p-2">
  <div class="comment_header d-flex justify-content-between">
    <div class="div">
      <span class="comment_author">{{ comment.user_name | titlecase }}</span>
      <a
        [routerLink]="['/post', comment.post_id, 'comment', comment.reply_to]"
        routerLinkActive="router-link-active"
        *ngIf="comment.parrent_comment_author"
        class="comment_reply_to ml-3"
        >in reply to: {{ comment.parrent_comment_author | titlecase }} 's
        comment</a
      >
    </div>
    <span class="comment_date font-italic">{{
      comment.created_at | date
    }}</span>
  </div>
  <div
    [routerLink]="['/post', comment.post_id, 'comment', comment.comment_id]"
    class="comment_body lead p-1"
  >
    {{ comment.body?.charAt(0).toUpperCase()
    }}{{ comment.body?.substring(1, comment.body.length) }}
  </div>
  <div class="comment_footer d-flex flex-column justify-content-end">
    <div class="comment_buttons d-flex ml-auto mb-2">
      <!-- delete comment button will be displayed ony if the id of comments author matches the id of logged in user -->
      <button
        (click)="deleteComment()"
        *ngIf="comment.user_id == userService.user?.user_id"
        class="btn btn-outline-dark d-flex align-items-center ml-2 text-danger"
      >
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
      <button
        (click)="setShowReply()"
        class="btn btn-outline-dark d-flex align-items-center ml-2"
      >
        <fa-icon [icon]="faReply"></fa-icon>
      </button>
      <button
        [routerLink]="['/post', comment.post_id, 'comment', comment.comment_id]"
        class="btn btn-outline-dark d-flex align-items-center ml-2"
      >
        {{ comment.subcomments }} &nbsp;
        <fa-icon [icon]="faComment"></fa-icon>
      </button>
      <button
        (click)="likeDislike(true)"
        class="btn btn-outline-dark d-flex align-items-center ml-2"
      >
        {{ comment?.likes }} &nbsp;
        <fa-icon
          [ngClass]="{ 'text-success': liked == 1 }"
          [icon]="faThumbsUp"
        ></fa-icon>
      </button>
      <button
        (click)="likeDislike(false)"
        class="btn btn-outline-dark d-flex align-items-center ml-2"
      >
        {{ comment?.dislikes }} &nbsp;
        <fa-icon
          [ngClass]="{ 'text-danger': liked == 0 }"
          [icon]="faThumbsDown"
        ></fa-icon>
      </button>
    </div>
    <!-- show post-comment component ony if showReply variable is true -->
    <app-post-comment
      *ngIf="showReply"
      [comment]="comment"
      [postId]="comment.post_id"
    ></app-post-comment>
  </div>
</div>
