<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      ><img src="../../../assets/logo.svg" alt="logo" />
      <span class="hidden"> Dank Memes </span>
    </a>

    <!-- search show search ony if we are on homepage and show search is true -->
    <div *ngIf="showSearch && currentRoute == '/'" class="input-group search">
      <input
        type="text"
        #myDiv
        [value]="postsProvider.like"
        (keyup)="search($event)"
        class="form-control search-input"
        placeholder="Search"
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
      />

      <button
        class="close-btn"
        type="button"
        id="button-addon2"
        (click)="toggleSearch()"
      >
        <fa-icon class="close-search" [icon]="faWindowClose"></fa-icon>
      </button>
    </div>
    <!-- search -->
    <ul class="navbar-nav d-flex flex-row align-items-center">
      <!-- magnifying glass -->
      <fa-icon
        class="mr-2"
        *ngIf="!showSearch && currentRoute == '/'"
        (click)="toggleSearch()"
        [icon]="faSearch"
      ></fa-icon>
      <!-- magnifying glass -->

      <li *ngIf="!provider.user && currentRoute == '/signin'" class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/signup']"
          routerLinkActive="router-link-active"
          >Register <fa-icon [icon]="faUserPlus"></fa-icon
        ></a>
      </li>
      <li
        *ngIf="!provider.user && currentRoute !== '/signin'"
        class="nav-item ml-2"
      >
        <a
          class="nav-link"
          [routerLink]="['/signin']"
          routerLinkActive="router-link-active"
          >Login <fa-icon [icon]="faSignInAlt"></fa-icon
        ></a>
      </li>

      <li class="nav-item ml-2 d-none showing" (click)="toggleSideNav()">
        <a class="nav-link" routerLinkActive="router-link-active">
          <fa-icon [icon]="faHamburger"></fa-icon
        ></a>
      </li>
    </ul>
  </div>
</nav>
