.logged-as {
  padding: 0 !important;
  font-size: 0.9rem;
}

@media screen and (max-width: 800px) {
  .hidden {
    display: none;
  }
  .showing {
    display: block !important;
  }
  .logged-as {
    font-size: 0.6rem !important;
  }

  .navbar-brand {
    font-size: 0.8rem;
  }

  li a {
    font-size: 0.8rem !important;
    padding: 0.1rem;
  }
}
