<div class="container">
  <form [formGroup]="form" (ngSubmit)="submitForm($event)">
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input
        formControlName="title"
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Title of your new meme"
      />
      <small
        class="error-message"
        *ngIf="
          form.get('title').hasError('required') && form.get('title').touched
        "
        >Title is required</small
      >
    </div>
    <div class="input-group mb-3">
      <div class="custom-file" (click)="markAsTouched()">
        <input
          (change)="onFileChange($event)"
          type="file"
          class="custom-file-input"
          id="inputGroupFile01"
        />
        <label class="custom-file-label" for="inputGroupFile01"
          >Choose file</label
        >
      </div>
    </div>
    <small
      class="error-message"
      *ngIf="
        form.get('image').hasError('required') && form.get('image').touched
      "
      >Please pick an image </small
    ><br />

    <button [disabled]="!form.valid" type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
  <!-- meme preview -->
  <div class="card mt-2">
    <h5 class="card-title">
      {{ form.get("title").value || "The title of your meme" }}
    </h5>

    <img [src]="src" class="card-img-top" alt="new post" />

    <div class="card-body d-flex justify-content-end">
      <button class="btn btn-outline-dark d-flex align-items-center">
        0 &nbsp;
        <fa-icon [icon]="faThumbsUp"></fa-icon>
      </button>
      <button class="btn btn-outline-dark d-flex align-items-center ml-2">
        0 &nbsp;
        <fa-icon [icon]="faThumbsDown"></fa-icon>
      </button>
    </div>
  </div>
</div>
